<template>
  <livros-anderson></livros-anderson>
</template>

<script>
import Livro from './components/livros'
export default {
   components: {
     //nome da tag <livros-anderson>
     'livros-anderson': Livro
   }
}
</script>

<style>
</style>

