<template>
  <div id="app">

    <nav>
      <div class="nav-wrapper blue darken-1">
        <a href="#" class="brand-logo center">Cadastro de Livros</a>
      </div>
    </nav>

    <class="container">
    

      <ul>
        <li v-for="(error, index) of errors" :key="index">
          campo <b> {{error.field}} </b> - {{ error.defaultMessage }}
        </li>
      </ul>    

      <form>
        
          <label>id</label>
          <input v-model="Livro.id" type="number" placeholder="Id">
         
          <label>livro</label>
          <input v-model="Livro.livro" type="text" placeholder="Nome">
         
          <label>autor</label>
          <input v-model="Livro.autor" type="text" placeholder="Autor">
         
          <label>lido</label>
          <input v-model="Livro.lido" type="text" placeholder="JÃ¡ leu o livros? sim / nÃ£o">

          <button @click.prevent.stop="add()" class="waves-effect waves-light btn-small">Salvar<i class="material-icons left">save</i></button>
      </form>

      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>NOME DO LIVRO</th>
            <th>NOME DO AUTOR</th>
            <th>LIDO</th>
          </tr>
        </thead>

        <tbody>
         
          <tr v-for="Livro in Livros" :key="Livro.id">
            <!--{{ Livro.id }}-->
          
            <td>{{ Livro.id }}</td>
            <td>{{ Livro.livro }}</td>
            <td>{{ Livro.autor }}</td>
            <td>{{ Livro.lido }}</td>
            <td>
         
              <!--@click.prevent.stop="editar(livro)"-->
              <button @click.prevent.stop="edit(Livro)" class="waves-effect btn-small blue darken-1"><i class="material-icons">create</i></button>
              <!--@click.prevent.stop="remover(livro)"-->
              <button @click.prevent.stop="delete_(Livro)" class="waves-effect btn-small red darken-1"><i class="material-icons">delete</i></button>
            </td>
          </tr>
        </tbody>      
      </table>
  </div>  
</template>

<script>

import Livros from '../services/Livros'

export default { 
  data(){
    return {
      //livros: null      
      Livros: {        
        id: null,
        livro1: null,
        autor:null,
        lido: null
      },
              
    }
  },  
    
  //montando a resposta que vem de services Livros
  //dentro da variavel Livro
  mounted(){
    this.listar()
  },

  methods: {    
    // Listar os itens da lista de livros
    listar(){
      Livros.listar().then(resposta => {        
        this.Livros = resposta.data
      })
    },
    // Salvar itens da lista e listar na tela ao mesmo tempo
    
    add(){
      if(this.livro.id){
        Livros.add(this.livro).then(resposta => {
         
          this.Livro = {}
          console.log(resposta.data)
          alert('Livro salvo com sucesso!')
          this.listar()
         
          this.errors = []
        }).catch(e => {
          console.log(e.resposta.data.errors)
          
          this.errors = e.resposta.data.errors
        })
      }else{
        Livros.atualizar(this.livro).then(resposta => {
          
          this.livro = {}
          console.log(resposta.data)
          alert('Atualizado com Sucesso!')
          this.listar()
          
          this.errors = []
        }).catch(e => {
          console.log(e.resposta.data.errors)
            
          this.errors = e.resposta.data.errors
        })
      }
    },
    // Editar itens da lista
    edit(livro){
      
      this.livro = livro
    },
    // Remover itens da lista
    delete_(livro) {
      if(confirm('Deseja realmente excluir o livro:')){
        Livros.delete_(livro).then(resposta => {
          console.log(resposta)
          this.listar();
          
          this.errors = []
        }).catch(e => {
          
          this.errors = e.response.data.errors
        })
      }
    }    
  }  
}

</script>